volumes:
  loki_data: # 声明命名卷
  grafana_data: # 新增命名卷
  prometheus_data: # 新增命名卷

services:
  loki:
    image: grafana/loki:3.0.0
    container_name: loki
    ports:
      - "3100:3100"
    volumes:
      - ./loki/config.yml:/etc/loki/loki-config.yml:ro
      - loki_data:/loki
    command: -config.file=/etc/loki/loki-config.yml
    networks:
      - app_net

  promtail:
    image: grafana/promtail:3.0.0
    container_name: promtail
    volumes:
      - ./promtail:/etc/promtail
      - /var/log:/var/log
      - /var/lib/docker/containers:/var/lib/docker/containers
      - /var/run/docker.sock:/var/run/docker.sock
    command: -config.file=/etc/promtail/config.yml
    depends_on:
      - loki
    networks:
      - app_net

  grafana:
    image: grafana/grafana:10.0.0
    container_name: grafana
    ports:
      - "3001:3000"
    volumes:
      - grafana_data:/var/lib/grafana
    depends_on:
      - loki
    networks:
      - app_net

  prometheus:
    image: prom/prometheus:v3.8.1
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - prometheus_data:/prometheus
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
    networks:
      - app_net
    depends_on:
      - backend

  backend:
    build:
      context: ./backend-end
    container_name: quotation_backend
    restart: always
    logging:
      driver: "json-file"
      options:
        max-size: "50m"
        max-file: "3"
    labels:
      - "com.example.logging=quotation_backend"
    env_file:
      - ./backend-end/.env.production
    expose:
      - "3000"
    environment:
      NODE_ENV: production
    depends_on:
      - mysql
      - mongo
      - redis
    networks:
      - app_net

  front:
    build:
      context: ./front-end
    container_name: quotation_front
    restart: always
    ports:
      - "8080:80"
    depends_on:
      - backend
    networks:
      - app_net
networks:
  app_net:
    driver: bridge
